@using RosATest.ViewModels
@model UpdateInquiryRequestViewModel

<div class="min-h-screen flex items-center justify-center">
    <div class="container mx-auto p-4">
        <div class="bg-white rounded-lg shadow-lg p-6">

            <h3>Изменение справки #@ViewBag.Request.ID</h3>

            <div>
                @if (!ViewData.ModelState.IsValid)
                {
                    <div>
                        <strong>Появилась информация, о которой Вам стоит знать:</strong>
                        <ul>
                            @foreach (var modelState in ViewData.ModelState.Values)
                            {
                                foreach (var error in modelState.Errors)
                                {
                                    <li>@error.ErrorMessage</li>
                                }
                            }
                        </ul>
                    </div>
                }
                <form method="post" asp-controller="InquiryRequests" asp-action="Update">
                    @Html.AntiForgeryToken()
                    
                    <div>
                        @Html.LabelFor(m => m.StatusID)
                        @Html.DropDownListFor(m => m.StatusID, ViewBag.Statuses as IEnumerable<SelectListItem>)
                        @Html.ValidationMessageFor(m => m.StatusID, "", new { @class = "text-red-400" })
                    </div>
                    
                    <button type="submit">Сохранить</button>
                </form>

        </div>
    </div>
</div>